.mainFrame {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 100%;
    height: auto;
    box-sizing: border-box;
    
    padding: 20px;

}
.line {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 320px;
    gap:20px;
    padding-right: 20px;
    margin-left: 25px;

    background-color: rgb(32, 31, 31);
    border-radius: 5px;
}
.lineLabel {    
    display: flex;
    transform: rotate(-90deg);
    width: 10px;
    margin-left: 20px;
    align-items: center;

    flex-direction: column;
    align-self: center;
    #lineHeader{
        font-size: 1.7em;
        font-weight: 500;
        color: #fa6b0c;
        margin-bottom: 5px;
    }
    #lineSubHeader{
        display: flex;
        align-self: center;

        font-size: 1.3em;
        font-weight: 400;
        color: grey;
        white-space: nowrap;
    }

}

.symbols {
    display: flex;
    width: 70%;
    height: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & mat-icon{
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: auto;
        font-size: 3rem;
        color: white;
        &~h1 {
            display: flex;
            justify-content: start;
            margin-top: 15px;
            width: 1.4em;
            color:#fa6b0c;
        }
    }
}


mat-Card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 300px;
    min-height: auto;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
.cardHeaderText{
    font-size: 1.5em;
    font-weight: 400;
    color: #fa6b0c;
}

mat-divider{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    border-width: 2px;
    color: rgb(199, 199, 199);
}


.logic {
    font-size: large;
    color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    align-items: center;
    & .discribtion{
        padding-top: 5px;
        font-size: 0.8em;
        & p{
            display: inline;
            margin: 0;
            padding: 0;
            color: white;
        }
    }

    & .directives {
        display: inline-block;
        align-self: flex-start;
        margin-top: 10px;
        line-height: 1.4em;
        font-size: 0.9em;
        & .decl {
            color: orange;
        }
        & .indentation {
            margin-left: 10px;
        }
        & p {
            display: inline;
            color: white;
            font-size: 1.1em;
        }
    }
}

.forInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: right;
    width: 70%;
    & mat-form-field {
        height: 90px;
    }
    & .buttons {
        margin-left: 20px;
        margin-right: 10px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
}

.IfButton {
    margin-left: 10px;
    margin-right: 10px;
    height: 95%;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1.4em;
    margin: 0;
    & .forLi {
        display: inline;
        & .nameHint {
            color: darkgrey;
        }
        & .forHint {
            float:right;
            margin-right: 10%;
            color: darkgrey;
        }
    }
}



.colorChoose {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
}

.color {
    color: #fa6b0c;
}

.inline {
    display: inline;
}

.colorAqua {
    color:aqua;
}

.rem {
    font-size: 1.4rem;
}