<div class="mainFrame">

    <!-- Structural line -->
    <div class="line">

        <div class="lineLabel">
            <div class="lineHeader">Structural</div>
            <div class="linePrinciple"><p>add</p> / <p>remove</p> Dom elements</div>
            <div class="lineSubHeader">Built-in direcives 
                <div class="symbols"><mat-icon>javascript</mat-icon><h1>-></h1><mat-icon>html</mat-icon>
                </div>
            </div>
            
        </div>

        <!-- if/Else Card -->
        <mat-card>
            <mat-list>
                <!-- discribtion -->
                <mat-list-item><h1 class="cardHeaderText">&#64;If / Else</h1></mat-list-item>
                <mat-divider></mat-divider>
                <div class="logic">

                    <span class="discribtion">
                        <div>der <p>Ausdruck</p> ist eine <p>Js</p> Variable</div>
                   </span>

                    <!-- if/Else Code -->
                    <span class="directives color">
                        <!--  @if ( Button ) {  -->
                        <p class="decl"> &#64;if </p><p> &#40; <button mat-raised-button color="warn" class="ifButton" (click)="toggelIfBoolean()" >{{ ifBoolean }}</button> &#41; &#123; </p><br>
                            
                            @if ( ifBoolean ) {
                                <div class="inline indentation"> 
                                    <!-- <div> i Bims, der Div </div> -->
                                    <p>&#60;</p>div<p>&#62; i Bims, der Div &#60;&#47;</p>div<p>&#62;</p>
                                </div>
                            }
                        <!--  }@else {  -->
                        <br><p>&#125;</p><p class="decl">&#64;else</p><p>&#160;&#123;</p><br>

                            @if ( !ifBoolean ) {
                                <div class="inline indentation">
                                    <!-- <div> i Bims, der Else </div> -->
                                    <p>&#60;</p>div<p>&#62; i Bims der Else &#60;&#47;</p>div<p>&#62;</p>
                                </div>
                            }
                        <!-- } -->
                        <br><p>&#125;</p>
                    </span>
                </div>
            </mat-list>
        </mat-card>

        <!-- For Card -->
        <mat-card>
            <mat-list>

                <mat-list-item><h1 class="cardHeaderText">&#64;For Schleife</h1></mat-list-item>
                <mat-divider></mat-divider>
                <div class="logic">

                    <span class="discribtion">
                        <div>interface items  &#123; <p>id</p>: number, <p>name</p>: string  &#125;</div>
                    </span>

                    <!-- for Schleife Code-->
                    <span class="directives color">
                        <!-- <ul> -->
                        <p>&#60;</p>ul<p>&#62;</p><br>
                        <!--  @for( item of items [ ]; track item.de ) { -->
                        <p class="decl"> &#64; for </p><span class="colorAqua"> <p>&#40;</p> item <p>of</p> items<span style="color:darkgrey">[ {{ index }} ]</span> <p>; track</p> item.id <p>&#41; &#123;</p> </span>
                            
                            <ul>
                                @for(item of items; track item.id) {
                                    <li class="forLi">
                                        <p>&#60;</p>li<p>&#62;</p>
                                        <p class="nameHint"> item.name: </p>
                                        <p style="color: white;">{{item.name}}</p>
                                        <p>&#60;&#47;</p>li<p>&#62;</p> 
                                    <span class="forHint"> id: {{item.id}}</span>
                                </li>
                            }
                        </ul>
                        <!-- }@empty { -->
                        <p>&#125;</p><p class="decl">&#64;empty</p><p>&#160;&#123;</p><br>

                        @for(item of items; track item.id){
                        }@empty {
                        <span class="colorAqua indentation"> is empty</span>
                        }
                        <!-- } -->
                        <br><p>&#125;</p><br>
                        <!-- </ul> -->
                        <p>&#60;&#47;</p>ul<p>&#62;</p>

                        <!-- InputField -->
                        <div class="forInput">
                                <mat-form-field>
                                    <mat-label>item.name</mat-label>
                                    <input matInput [(ngModel)]="inputName">
                                </mat-form-field>
                            <div class="buttons">
                                <button style="width: 50px" mat-raised-button color="warn" (click)="add()"> add </button>
                                <button style="width: 50px" mat-raised-button color="warn" [disabled]="hideForButton" (click)="delete()"> del. </button>
                            </div>
                        </div>
                    </span>
                </div>
            </mat-list>
        </mat-card>

        <!-- Switch Card -->
        <mat-card>
            <mat-list>

                <mat-list-item><h1 class="cardHeaderText">&#64;Switch Case</h1></mat-list-item>
                <mat-divider></mat-divider>
                
                <div class="logic">

                    <span class="discribtion">
                        <div>interface colors  &#123; <p>id</p>: number, <p>color</p>: string  &#125;</div>
                    </span>

                    <!-- Switch/Case Code -->
                    <span class="directives color">
                        <!-- @switch( -->
                        <p class="decl">&#64;switch</p> <p>&#40;</p>
                            <!-- ColorChooseField -->
                                <mat-form-field #colorUser class="colorChoose" appearance="outline" color="accent">
                                    <mat-label>Color</mat-label>
                                    <mat-select (selectionChange)="switchColor($event.value)">

                                        @for (color of colors; track color.id) {
                                            <mat-option [value]="color.id">{{color.color}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                        <!-- ){ -->
                        <p>&#41; &#123;</p><br>
                        <!-- }@case( "red" ) { -->
                        <p>&#125;</p> <p class="decl">&#64;case <p>&#40; "<span class="rem" style="color:crimson">red</span>" &#41;</p> <p>&#160;&#123;</p> <br>

                            @switch (color){
                                @case("red") {
                                    <div class="inline indentation">
                                        <p>&#60;</p>div<p>&#62; i Bims, der Div &#60;&#47;</p>div<p>&#62;</p>
                                    </div><br>
                                }
                            }
                        <!-- }@case( "green" ) { -->
                        <p>&#125;</p> <p class="decl">&#64;case <p>&#40; "<span class="rem" style="color:chartreuse">green</span>" &#41;</p> <p>&#160;&#123;</p> <br>
                            
                            @switch (color){
                                @case("green") {
                                    <div class="inline indentation">
                                        <p>&#60;</p>div<p>&#62; i Bims, der Div &#60;&#47;</p>div<p>&#62;</p>
                                    </div><br>
                                }
                            }
                        <!-- }@case( "blue" ) { -->
                        <p>&#125;</p> <p class="decl">&#64;case <p>&#40; "<span class="rem" style="color:darkturquoise">blue</span>" &#41;</p> <p>&#160;&#123;</p> <br>
                           
                            @switch (color){
                                @case("blue") {
                                    <div class="inline indentation">
                                        <p>&#60;</p>div<p>&#62; i Bims, der Div &#60;&#47;</p>div<p>&#62;</p>
                                    </div><br>
                                }
                            }
                        <!-- }@default { -->
                        <p>&#125;</p><p class="decl">&#64;default <p>&#123;</p><br>

                            @if(color != "red" && color != "green" && color != "blue") {
                                @switch (color){
                                    @default() {
                                        <div class="inline indentation">
                                            <p>&#60;</p>div<p>&#62; i Bims, der Div &#60;&#47;</p>div<p>&#62;</p>
                                        </div><br>
                                    }
                                }
                            }
                        <!-- } -->
                        <br><p>&#125;</p><br>
                    </span>
                </div> 
            </mat-list>
        </mat-card>
    </div>

    <!-- Second line -->
    <div class="line">

        <div class="lineLabel">
            <div class="lineHeader">attribute</div>
            <div class="linePrinciple"><p>change</p> Dom elements</div>
            <div class="lineSubHeader">Built-in direcives 
                <div class="symbols"><mat-icon>javascript</mat-icon><h1>-></h1><mat-icon>css</mat-icon>
                </div>
            </div>
        </div>

        <!-- NgStyle Card -->
        <mat-card class="ngStyleCard">
            <mat-list>
                <!-- discribtion -->
                <mat-list-item><h1 class="cardHeaderText">[ ngStyle ]</h1></mat-list-item>
                <mat-divider></mat-divider>
                <div class="logic">

                    <span class="discribtion">
                        <div>verändert den <p>style (Css)</p> dynamisch.</div>
                        <div>gib bei der For-Schleife die gewünscht zahl<p> in deg </p>ein</div>
                        <div>statt der Auswahlbox könnte auch eine <p>function()</p> stehen</div>
                   </span>

                    <!-- [ngStyle] Code -->
                    <span class="directives color">
                        <!--  <div [ngStyle]="{rotate:  -->
                        <div class="ngStyleHtml">
                            <p>&#60;</p>div <span class="decl">[ngStyle]=&#34;&#123;<span class="colorAqua"> rotate:</span></span>
                                <div class="styleChoose">
                                    <mat-form-field #styleChoose appearance="outline" color="accent">
                                        <mat-label>Css-Value</mat-label>
                                        <mat-select (selectionChange)="switchStyle($event.value)">
                                            @for (item of items; track item.id) {
                                                <mat-option [value]="item.id">{{item.name}}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            <!-- }">-->
                            <span class="decl">&#125;&#34;</span><p>&#62;</p>
                        </div>
                        <!-- </div> -->
                        <p>&#60;&#47;</p>div<p>&#62;</p>
                    
                    </span>
                </div>

                <mat-divider></mat-divider>

                <!-- Css | Website -->
                <div class="showArea">
                    <!-- Css Class -->
                    <mat-card class="cssStyle css">
                        <mat-card-header>
                            <mat-card-title>Css Style</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                                <!-- div { -->
                                <p><span>.div</span> &#123;</p>
                                    <div class="ngStyleDivBoxCode">
                                        rotate:{{itemValue}}    <br>
                                                                <br>
                                    </div>
                                <br>
                                &#125;
                        </mat-card-content>
                    </mat-card>

                    <mat-divider vertical="true"></mat-divider>

                    <!-- Website Show -->
                    <mat-card class="cssStyle div">
                        <mat-card-header>
                            <mat-card-title>WebSite</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="ngStyleDivBox" [ngStyle]="{rotate:itemValue}">

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-list>
        </mat-card>

         <!-- ngClass Card -->
         <mat-card class="ngClassCard">
            <mat-list>
                <!-- discribtion -->
                <mat-list-item><h1 class="cardHeaderText">[ ngClass ]</h1></mat-list-item>
                <mat-divider></mat-divider>
                <div class="logic">

                    <span class="discribtion">
                        <div>weist eine Klasse zu, wenn die Bedingungen Wahr ist.</div>
                        <div>1. Klassename , 2. Bedingung</div>
                   </span>

                    <!-- [ngClass] Code -->
                    <span class="directives color">
                        <!--  <div [ngClass]="{ Neueklasse:  -->
                        <div class="ngStyleHtml">
                            <p>&#60;</p>div <span class="decl">[ngClass]=&#34;&#123;<span class="colorAqua"> NeueKlasse:</span></span>
                                    <button mat-raised-button color="warn" class="ngClassButton" (click)="toggelngClassBoolean()" >{{ ngClassBoolean }}</button>
                            <!-- }">-->
                            <span class="decl">&#125;&#34;</span><p>&#62;</p>
                        </div>
                        <!-- </div> -->
                        <p>&#60;&#47;</p>div<p>&#62;</p>
                    
                    </span>
                </div>

                <mat-divider></mat-divider>

                <!-- Css | Website -->
                <div class="showArea">
                    <!-- Css Class -->
                    <mat-card class="cssStyle css">
                        <mat-card-header>
                            <mat-card-title>Css Style</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            @if(ngClassBoolean){
                                <!-- neueKlasse { -->
                                <p><span>.neueKlasse</span> &#123;</p>
                                    <div>
                                    background-color: Blue; <br>
                                    rotate: 45deg;          <br>
                                    </div>
                                <br>
                                &#125;
                            }
                        </mat-card-content>
                    </mat-card>

                    <mat-divider vertical="true"></mat-divider>

                    <!-- Website Show -->
                    <mat-card class="cssStyle div">
                        <mat-card-header>
                            <mat-card-title>WebSite</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="ngStyleDivBox" [ngClass]="{neueKlasse: ngClassBoolean}">

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-list>
        </mat-card>

</div>

