<div class="BindingView">

    <!-- String Databinding -->
    <mat-card>
        <mat-list>
            <mat-list-item><h1>Structural</h1></mat-list-item>
            <mat-list-item><h2>Built-in direcives</h2></mat-list-item>
            <mat-divider></mat-divider>
            <div class="logic">
                <div class="symbols"><mat-icon>javascript</mat-icon><h1>-></h1><mat-icon>html</mat-icon></div>
                <span class="hint">
                     <p>verändern das DOM Layout</p>
                     <p>durch add/remove DOM elemente</p> 
                </span>
                <!-- If/ Else -->
                <span class="directives color">
                    <!-- html Utf-codierung -->
                        <p class="decl">&#64;if</p>
                        <p>&#40;<button class="IfButton" (click)="toggelIfBoolean()" mat-raised-button color="warn">{{ ifBoolean }}</button>&#41; &#123;</p><br>
                        @if ( ifBoolean ) {
                            <div class="inline indentation"> 
                                <p>&#60;</p>div<p>&#62; i Bims, der Div &#60;&#47;</p>div<p>&#62;</p>
                            </div>
                        }
                        <br><p>&#125;</p><p class="decl">&#64;else</p><p>&#160;&#123;</p><br>
                        @if ( !ifBoolean ) {
                            <div class="inline indentation">
                                <p>&#60;</p>div<p>&#62; i Bims der Else &#60;&#47;</p>div<p>&#62;</p>
                            </div>
                        }
                        <br><p>&#125;</p>
                </span>
            </div>

            <mat-divider></mat-divider>

            <div class="logic">
                <span class="hint">
                    <p>interface items  &#123; id: number, name: string  &#125;</p>
               </span>
                <!-- for Schleife -->
                <span class="directives color">
                    <!-- html Utf-codierung -->
                        <p>&#60;</p>ul<p>&#62;</p><br>
                        <p class="decl">&#64;for</p>
                        <span class="colorAqua"><p>&#40;</p> item <p>of</p> items<span style="color:darkgrey">[ {{ index }} ]</span><p>; track</p> item.id <p>&#41; &#123;</p></span>
                        <ul>
                            @for(item of items; track item.id) {
                                <li class="forLi">
                                    <p>&#60;</p>li<p>&#62;</p>
                                    <p class="nameHint"> item.name: </p>
                                    <p style="color: white;">{{item.name}}</p>
                                    <p>&#60;&#47;</p>li<p>&#62;</p> 
                                    <span class="forHint"> id: {{item.id}}</span>
                                </li>
                            }
                        </ul>
                        <p>&#125;</p><p class="decl">&#64;empty</p><p>&#160;&#123;</p><br>
                        @for(item of items; track item.id){
                        }@empty {
                        <span class="colorAqua indentation"> is empty</span>
                        }
                        <br><p>&#125;</p><br>
                        <p>&#60;&#47;</p>ul<p>&#62;</p>

                        <div class="forInput">
                                <mat-form-field>
                                    <mat-label>item.name</mat-label>
                                    <input matInput [(ngModel)]="inputName">
                                </mat-form-field>
                            <div class="buttons">
                                <button style="width: 50px" mat-raised-button color="warn" (click)="add()"> add </button>
                                <button style="width: 50px" mat-raised-button color="warn" [disabled]="hideForButton" (click)="delete()"> del. </button>
                            </div>
                        </div>

                </span>
            </div>
            <mat-divider></mat-divider>
            
            <div class="logic">
                <span class="hint">
                    <p>interface colors  &#123; id: number, color: 'red'..  &#125;</p>
               </span>
                <!-- for Schleife -->
                <span class="directives color">
                    <!-- html Utf-codierung -->
                        
                        <p class="decl">&#64;switch</p>
                        <span class="colorAqua"><p>&#40;</p>
                                <mat-form-field #colorUser class="colorChoose" appearance="outline" color="accent">
                                        <mat-label>Color</mat-label>
                                        <mat-select >
                                        @for (color of colors; track color.id) {
                                            <mat-option [value]="color.color">{{color.color}}</mat-option>

                                        }
                                        </mat-select>
                                </mat-form-field> 
                            <p>&#41; &#123;</p>
                        </span><br>
                        @switch (color){
                            @case("red") {
                                <div class="inline indentation">
                                    <p>&#60;</p>div<p>&#62; i Bims, der Div &#60;&#47;</p>div<p>&#62;</p>
                                </div>
                            }
                            @case("green") {
                                <div class="inline indentation">
                                    <p>&#60;</p>div<p>&#62; i Bims, der Div &#60;&#47;</p>div<p>&#62;</p>
                                </div>
                            }
                            @case("blue") {
                                <div class="inline indentation">
                                    <p>&#60;</p>div<p>&#62; i Bims, der Div &#60;&#47;</p>div<p>&#62;</p>
                                </div>
                            }
                        }
                        <p>&#125;</p><p class="decl">&#64;case <p>&#40; "<span class="rem" style="color:crimson">red</span>" &#41;</p><p>&#160;&#123;</p><br>
                        
                        <p>&#125;</p><p class="decl">&#64;case <p>&#40; "<span class="rem" style="color:chartreuse">red</span>" &#41;</p><p>&#160;&#123;</p><br>
                        
                        <p>&#125;</p><p class="decl">&#64;case <p>&#40; "<span class="rem" style="color:darkturquoise">red</span>" &#41;</p><p>&#160;&#123;</p><br>

                        <p>&#125;</p><p class="decl">&#64;default <p>&#123;</p><br>
                        <br><p>&#125;</p><br>
                        
                </span>
            </div>
            
        </mat-list>
    </mat-card>

     <!-- Property Binding -->
     <mat-card>
        <mat-list>
            <mat-list-item><h1>Property Binding</h1></mat-list-item>
            <mat-list-item><h2>One-Way-Binding</h2></mat-list-item>
            <mat-divider></mat-divider>
            <div class="logic">
                <div class="symbols"><mat-icon>javascript</mat-icon><h1>-></h1><mat-icon>html</mat-icon></div>
                <span class="hint">
                     <p>die Eigenschaft [disabled] vom button </p>
                     <p>wird durch eine Variable geändert </p> 
                </span>
                


            </div>
        </mat-list>
    </mat-card>

     <!-- Event Binding -->
     <mat-card>
        <mat-list>
            <mat-list-item><h1>Event Binding</h1></mat-list-item>
            <mat-list-item><h2>Event-Binding</h2></mat-list-item>
            <mat-divider></mat-divider>
            <div class="logic">
                <div class="symbols"><mat-icon>html</mat-icon><h1>-></h1><mat-icon>javascript</mat-icon></div>
                <span class="hint">
                     <p>Das Click Event wird vom </p>
                     <p> &#60;button&#62; gefeuert  </p> 
                </span>



            </div>
        </mat-list>
    </mat-card>

</div>


