<mat-drawer-container class="completeFrame">
    <mat-drawer mode="side" opened class="sideFrame">
        <span class="libraryHeader">
            <h1>library</h1>
        </span>
        <mat-nav-list role="navigation" #selection >
            @for (selection of library; track selection) {
                <a href="/{{selection}}" mat-list-item>{{selection}}</a>
                <mat-divider></mat-divider>
            }
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="mainFrame" >
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>
