
.completeFrame {
    width: 100%;
    height: 100vh;
    & .sideFrame {
        width: 150px;
        & .libraryHeader {
            display: flex;
            margin-top: 15px;
            justify-content: center;
        }
    }
    
  }

.mainFrame {
    position: relative;
    width: calc(100vw - 150px) ;
}
